/*!----------------------TIPOGRAFIA------------------*/
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1;1,300&display=swap");
/*!----------------------RESET------------------*/
* {
  margin: 0;
  padding: 0;
  border: 1px solid red; }

* {
  box-sizing: border-box; }

/*!-------------------------------------------------HEADER--------------------------------------*/
header {
  position: sticky;
  top: 0;
  z-index: 2; }

header nav {
  background-color: #a0138da6; }

.navbar-brand {
  color: white;
  font-style: italic;
  font-size: 18px;
  margin-left: 95px; }

.navbar-nav a {
  color: white;
  font-style: italic; }

/*BOTONES*/
.boton {
  text-decoration: none;
  color: white;
  background-color: black;
  font-size: 15px;
  font-style: oblique;
  padding: 9px;
  border-radius: 5px; }

/*MAPA*/
.mapa iframe {
  width: 100%;
  height: 390px; }

/*iconowhatsapp*/
.botonwhatsapp {
  position: fixed;
  bottom: 100px;
  right: 50px; }

.botonwhatsapp img {
  width: 50px;
  margin-bottom: -60px; }

/*!----------------------------------------------MAIN-----------------------------*/
.boton2, .contacto h2, .contacto h3 {
  display: flex;
  justify-content: center;
  align-items: center; }

/*!------------------------------INDEX----*/
/*tituloprincipal*/
.titulo1 h1 {
  background-image: url(../img/bienvenidos.webp);
  background-size: cover;
  width: 100%;
  height: 280px;
  color: rgba(255, 255, 255, 0.576);
  font-size: 65px;
  text-align: center;
  font-style: italic;
  font-weight: 1;
  padding: 95px; }

/*titulosecundario NUESTROS SERVICIOS*/
.titulo2 h2 {
  color: #255b99c8;
  text-align: center;
  font-size: 35px;
  margin-top: 50px; }

/*TITULOTERCIARIOpagofacil*/
.pagofacil h3 {
  font-size: 35px;
  font-style: italic;
  font-weight: 1;
  margin-top: 30px;
  margin-left: 95px;
  margin-bottom: 15px;
  text-align: start;
  color: #255b99c8; }

.pagofacil1 p {
  font-style: normal;
  font-size: 20px;
  padding: 90px;
  color: black; }

.pagofacil1 img {
  width: 25%;
  height: 35vh;
  margin-right: 90px; }

.pagofacil1 {
  display: flex;
  flex-direction: row; }

/*TITULOTERCIARIOwesternunion*/
.westernunion h3 {
  font-size: 35px;
  font-style: italic;
  font-weight: 1;
  margin: 55px;
  margin-bottom: 15px;
  text-align: start;
  color: #255b99c8;
  margin-left: 95px; }

.westernunion1 p {
  font-style: normal;
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 30px; }

.westernunion1 div img {
  width: 25%;
  height: 90px;
  display: flex;
  align-items: end;
  max-width: 100%; }

.westernunion1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100%; }

.westernunion {
  margin-top: 105px;
  max-width: 100%; }

/*TITULOTERCIARIOotrosservicios*/
.otrosservicios h3 {
  font-size: 30px;
  font-style: italic;
  font-weight: 1;
  color: #255b99c8;
  margin: 55px;
  margin-bottom: 10px;
  margin-left: 95px; }

.otrosservicios1 p {
  font-style: normal;
  font-size: 20px;
  padding: 90px;
  color: black; }

.otrosservicios1 img {
  width: 25%;
  height: 35vh;
  display: flex;
  align-items: end;
  margin-right: 90px; }

.otrosservicios1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.otrosservicios {
  margin-top: 135px; }

/*TARJETAS*/
section div a {
  transition: 1s; }

section div a:hover {
  background-color: #255b99c8;
  color: white; }

.tarjetas div {
  transition: 1s; }

.tarjetas div:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 31px -8px #0a0a0b;
  -webkit-box-shadow: 10px 10px 31px -8pxrgb 10, 10, 11;
  -moz-box-shadow: 10px 10px 31px -8px #0a0a0b; }

.tarjetas div {
  border: 1px solid;
  width: 250px;
  height: 350px;
  text-align: center;
  background-color: white;
  margin: 85px; }

.tarjetas div img {
  width: 250px;
  height: 200px; }

.tarjetas div p {
  margin-top: 20px;
  margin-bottom: 20px; }

.tarjetas div h3 {
  margin-top: 20px;
  margin-bottom: 20px; }

.tarjetas {
  display: flex;
  flex-wrap: wrap; }

/*titulosecundario UBICACION Y REDES SOCIALES*/
.nuestrasredes h2 {
  color: #D4D4D4;
  text-align: center;
  font-size: 38px;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 50px;
  margin-top: 30px;
  letter-spacing: 0.15em; }

.nuestrasredes h3 {
  color: #D4D4D4;
  text-align: center; }

.mapa h4 {
  color: #171616b3;
  text-align: center;
  margin-top: 60px; }

.mapa h5 {
  color: #171616b3;
  text-align: center;
  margin-bottom: 40px; }

/*!----------------PAGINA2PAGOFACIL-------*/
/*tituloPAGOFACIL y WESTERNUNION MISMA CLASS*/
.pagina2 h2 {
  font-size: 35px;
  font-style: italic;
  font-weight: 1;
  margin-top: 90px;
  margin-right: 95px;
  margin-bottom: 15px;
  text-align: end;
  color: #255b99c8; }

.pagina2b p {
  font-style: normal;
  font-size: 20px;
  color: black;
  text-align: end;
  padding: 90px; }

.boton2 a {
  color: white;
  background-color: #255b99c8;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px; }

.pagina2b img {
  width: 25%;
  height: 35vh;
  display: flex;
  align-items: start;
  margin-bottom: 80px;
  margin-left: 25px; }

.pagina2b {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.pagina2 {
  margin-top: 105px; }

/*!----------PAGINA3ANSES------------*/
.pagina3 h2 {
  font-size: 35px;
  font-style: italic;
  font-weight: 1;
  margin-top: 90px;
  margin-right: 95px;
  margin-bottom: 5px;
  text-align: end;
  color: #255b99c8; }

.pagina3 img {
  width: 25%;
  height: 35vh;
  display: flex;
  align-items: start;
  margin-bottom: 80px;
  margin-left: 30px; }

.pagina3b p {
  font-style: normal;
  font-size: 20px;
  color: black;
  text-align: end;
  padding: 90px; }

.pagina3b {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around; }

.pagina3 {
  margin-top: 105px; }

.formulario {
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center; }

/*!----------PAGINA4PLATAFORMA10------------*/
.pagina4 a {
  color: white;
  background-color: #255b99c8;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px; }

.pagina4 h2 {
  font-size: 35px;
  font-style: italic;
  font-weight: 1;
  margin-top: 50px;
  margin-right: 95px;
  margin-bottom: 5px;
  text-align: end;
  color: #255b99c8; }

.pagina4b img {
  width: 25%;
  height: 35vh;
  display: flex;
  align-items: start;
  margin-bottom: 80px;
  margin-left: 25px; }

.pagina4b p {
  font-style: normal;
  font-size: 20px;
  color: black;
  text-align: end;
  padding: 90px; }

.pagina4b {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around; }

.pagina4 {
  margin-top: 105px; }

/*!----------PAGINA5OTROSSERVICIOS------------*/
.pagina5 a {
  color: white;
  background-color: #255b99c8;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px; }

.pagina5 h2 {
  font-size: 35px;
  font-style: italic;
  font-weight: 1;
  margin-top: 50px;
  margin-right: 95px;
  margin-bottom: 5px;
  text-align: end;
  color: #255b99c8; }

.pagina5b img {
  width: 25%;
  height: 35vh;
  display: flex;
  align-items: start;
  margin-bottom: 80px;
  margin-left: 25px; }

.pagina5b p {
  font-style: normal;
  font-size: 20px;
  color: black;
  text-align: end;
  padding: 90px; }

.pagina5b {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around; }

.pagina5 {
  margin-top: 105px; }

/*!------------------PAGINA6NOSOTROS--------*/
hr {
  background-color: #959191b3;
  font-weight: bold;
  height: 2px;
  max-width: 100%;
  border: none; }

.formulario2 {
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.grid-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 45px; }
  .grid-container2 div {
    display: inline-block;
    margin-top: 65px; }
    .grid-container2 div img {
      width: 323px;
      height: 362px;
      background-color: rgba(4, 81, 132, 0.878); }

.contacto h2 {
  color: #D4D4D4;
  margin-top: 65px;
  letter-spacing: 0.15em;
  font-size: 46px; }

.contacto h3 {
  color: #D4D4D4; }

/*!------------------------FOOTER--------------------*/
/*!----extend-----------*/
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center; }

/*!------------------------FOOTER--------------------*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  max-width: 100%; }

.grid-item img {
  height: 35px;
  width: 20px; }

footer div a img {
  transition: 1s; }

footer div a img:hover {
  transform: scale(1.2); }

/*!-----------MEDIAQUERIES INDEX--------*/
@media screen and (max-width: 1400px) {
  .tarjetas {
    display: flex;
    justify-content: center;
    align-items: center; }
  .titulo1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%; }
  .main-container h1 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .otrosservicios1 p {
    max-width: 80%; } }

@media screen and (max-width: 922px) {
  .pagofacil1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .westernunion1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center; }
  .otrosservicios1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .pagofacil h3 {
    margin-bottom: -40px;
    margin-top: 80px;
    text-align: center;
    margin-left: -30px; }
  .pagofacil1 p {
    text-align: start; }
  .pagofacil1 img {
    justify-self: center;
    align-self: center;
    margin-top: -60px; }
  .westernunion h3 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .westernunion1 p {
    text-align: center; }
  .westernunion1 img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px; }
  .otrosservicios h3 {
    margin-bottom: -40px;
    margin-top: 90px;
    text-align: center;
    margin-left: -30px; }
  .otrosservicios1 img {
    justify-self: center;
    align-self: center;
    margin-top: -60px; }
  .otrosservicios {
    max-width: 100%; }
  .tarjetas {
    margin-left: 10px; }
  .titulo1 h1 {
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center; } }

/*!------MEDIAQUERIESENPAGE3ANSES-----*/
@media screen and (max-width: 1400px) {
  .formulario {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px; } }

@media screen and (max-width: 920px) {
  .pagina3 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -80px; }
  .pagina3b {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .pagina3b p {
    text-align: center;
    margin-bottom: -30px; }
  .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%; }
  .titulo1 h1 {
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center; } }

/*!---------------MEDIAQUERIES PAGINA2PAGOFACIL--------*/
@media screen and (max-width: 920px) {
  .pagina2b {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .pagina2 h2 {
    display: flex;
    justify-content: center;
    align-items: center; } }

/*!---------------MEDIAQUERIES PAGINA4PLATAFORMA10--------*/
@media screen and (max-width: 920px) {
  .pagina4b {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .pagina4 h2 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .pagina4b p {
    margin-right: 15%; }
  .pagina4b img {
    margin-right: 15%; } }

/*!---------------MEDIAQUERIES PAGINA5OTROSSERVICIOS--------*/
@media screen and (max-width: 920px) {
  .pagina5b {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .pagina5 h2 {
    display: flex;
    justify-content: center;
    align-items: center; } }

/*!---------------MEDIAQUERIES PAGINA6NOSOTROS--------*/
@media screen and (max-width: 920px) {
  .formulario2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; } }
