/*!----------------------TIPOGRAFIA------------------*/
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1;1,300&display=swap");
/*!----------------------RESET------------------*/
* {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

/*!-------------------------------------------------HEADER--------------------------------------*/
header {
  position: sticky;
  top: 0;
  z-index: 2; }

header nav {
  background-color: #a0138da6; }

.navbar-brand {
  color: white;
  font-style: italic;
  font-size: 18px;
  margin-left: 95px; }

.navbar-nav a {
  color: white;
  font-style: italic; }

/*BOTONES*/
.boton {
  text-decoration: none;
  color: white;
  background-color: black;
  font-size: 15px;
  font-style: oblique;
  padding: 9px;
  border-radius: 5px; }

/*MAPA*/
.mapa iframe {
  width: 100%;
  height: 390px; }

/*iconowhatsapp*/
.botonwhatsapp {
  position: fixed;
  bottom: 100px;
  right: 50px; }

.botonwhatsapp img {
  width: 50px;
  margin-bottom: -60px; }

/*!----------------------------------------------MAIN-----------------------------*/
.boton2, .boton2b, .bannercontainer, .formulario, .elementoanses h3, .elementoanses h4, .carrusel, .formulario2, .grid-container2, .contacto h2, .contacto h3 {
  display: flex;
  justify-content: center;
  align-items: center; }

/*!------------------------------INDEX----*/
/*tituloprincipal*/
.titulo1 h1 {
  background-image: url(../img/bienvenidos.webp);
  background-size: cover;
  width: 100%;
  height: 280px;
  color: rgba(255, 255, 255, 0.576);
  font-size: 65px;
  text-align: center;
  font-style: italic;
  font-weight: 1;
  padding: 95px; }

/*titulosecundario NUESTROS SERVICIOS*/
.titulo2 h2 {
  color: #255b99c8;
  text-align: center;
  font-size: 35px;
  margin-top: 50px; }

/*TITULOTERCIARIOpagofacil*/
.pagofacil h3 {
  font-size: 35px;
  font-style: italic;
  font-weight: 1;
  margin-top: 90px;
  margin-left: 95px;
  text-align: start;
  color: #255b99c8; }

.pagofacil1 p {
  font-style: normal;
  font-size: 20px;
  margin-top: 120px;
  color: black;
  text-align: center; }

.pagofacil1 img {
  width: 20%;
  height: 35vh; }

.pagofacil1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

/*TITULOTERCIARIOwesternunion*/
.westernunion h3 {
  font-size: 35px;
  font-style: italic;
  font-weight: 1;
  margin: 55px;
  margin-bottom: 15px;
  text-align: start;
  color: #255b99c8;
  margin-left: 95px; }

.westernunion1 p {
  font-style: normal;
  font-size: 20px;
  color: black;
  text-align: center;
  margin-top: 40px; }

.westernunion1 div img {
  width: 25%;
  height: 90px;
  display: flex;
  align-items: end;
  max-width: 100%; }

.westernunion1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100%; }

.westernunion {
  margin-top: 105px;
  max-width: 100%; }

/*TITULOTERCIARIOotrosservicios*/
.otrosservicios h3 {
  font-size: 30px;
  font-style: italic;
  font-weight: 1;
  color: #255b99c8;
  margin-left: 95px; }

.otrosservicios1 p {
  font-style: normal;
  font-size: 20px;
  color: black;
  text-align: center;
  margin-top: 40px; }

.otrosservicios1 img {
  width: 20%;
  height: 35vh; }

.otrosservicios1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.otrosservicios {
  margin-top: 135px;
  margin-bottom: 60px; }

/*TARJETAS*/
section div a {
  transition: 1s; }

section div a:hover {
  background-color: #255b99c8;
  color: white; }

.tarjetas div {
  transition: 1s; }

.tarjetas div:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 31px -8px #0a0a0b;
  -webkit-box-shadow: 10px 10px 31px -8pxrgb 10, 10, 11;
  -moz-box-shadow: 10px 10px 31px -8px #0a0a0b; }

.tarjetas div {
  border: 1px solid;
  width: 250px;
  height: 350px;
  text-align: center;
  background-color: white;
  margin: 85px; }

.tarjetas div img {
  width: 250px;
  height: 200px; }

.tarjetas div p {
  margin-top: 20px;
  margin-bottom: 20px; }

.tarjetas div h3 {
  margin-top: 20px;
  margin-bottom: 20px; }

.tarjetas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

/*titulosecundario UBICACION Y REDES SOCIALES*/
.nuestrasredes h2 {
  color: #D4D4D4;
  text-align: center;
  font-size: 38px;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 50px;
  margin-top: 30px;
  letter-spacing: 0.15em; }

.nuestrasredes h3 {
  color: #D4D4D4;
  text-align: center; }

.mapa h4 {
  color: #171616b3;
  text-align: center;
  margin-top: 60px; }

.mapa h5 {
  color: #171616b3;
  text-align: center;
  margin-bottom: 40px; }

/*!----------------PAGINA2PAGOFACIL-------*/
/*tituloPAGOFACIL y WESTERNUNION MISMA CLASS*/
.pagina2 h2 {
  font-size: 35px;
  font-style: italic;
  font-weight: 1;
  margin-top: 90px;
  margin-right: 95px;
  margin-bottom: 15px;
  text-align: end;
  color: #255b99c8; }

.pagina2b p {
  font-style: normal;
  font-size: 20px;
  color: black;
  text-align: end;
  padding: 90px; }

.pagina2c p {
  font-style: normal;
  font-size: 20px;
  color: black;
  text-align: end;
  padding: 90px; }

.boton2 a {
  color: white;
  background-color: #255b99c8;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px; }

.boton2b a {
  color: white;
  background-color: #255b99c8;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px; }

.pagina2b img {
  width: 25%;
  height: 35vh;
  display: flex;
  align-items: start;
  margin-bottom: 80px;
  margin-left: 25px; }

.pagina2c img {
  width: 25%;
  height: 35vh;
  display: flex;
  align-items: start;
  margin-bottom: 80px;
  margin-left: 25px; }

.pagina2b {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.pagina2c {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.pagina2 {
  margin-top: 105px;
  padding-left: 30px;
  padding-right: 30px; }

.banner1 {
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 70px; }

.bannerimg {
  width: 80%; }

.bannercontainer {
  margin-top: 60px; }

/*!----------PAGINA3ANSES------------*/
.pagina3 h2 {
  font-size: 35px;
  font-style: italic;
  font-weight: 1;
  margin-top: 90px;
  margin-right: 95px;
  margin-bottom: 5px;
  text-align: end;
  color: #255b99c8; }

.pagina3 img {
  width: 25%;
  height: 25%;
  display: flex;
  align-items: start;
  margin-left: 30px; }

.pagina3b p {
  font-style: normal;
  font-size: 20px;
  color: black;
  text-align: end;
  padding: 90px; }

.pagina3b {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-bottom: 60px; }

.pagina3 {
  margin-top: 105px; }

.formulario {
  max-width: 80%;
  margin-top: 60px; }

.containeranses {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.elementoanses {
  border: 2px solid #e3e3e3;
  border-radius: 15px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
  max-width: 25%; }

.elementoanses h3 {
  font-size: 19px;
  font-style: italic;
  color: rgba(4, 81, 132, 0.878);
  padding-left: 20px;
  padding-right: 20px; }

.elementoanses h4 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.506);
  padding-left: 20px;
  padding-right: 20px; }

/*!----------PAGINA4PLATAFORMA10------------*/
.pagina4 a {
  color: white;
  background-color: #255b99c8;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px; }

.pagina4 h2 {
  font-size: 35px;
  font-style: italic;
  font-weight: 1;
  margin-top: 50px;
  margin-right: 95px;
  margin-bottom: 5px;
  text-align: end;
  color: #255b99c8; }

.pagina4b img {
  width: 25%;
  height: 35vh;
  display: flex;
  align-items: start;
  margin-bottom: 80px;
  margin-left: 25px; }

.pagina4b p {
  font-style: normal;
  font-size: 20px;
  color: black;
  text-align: end;
  padding: 90px; }

.pagina4b {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around; }

.pagina4 {
  margin-top: 105px; }

.boton2d {
  display: flex;
  justify-content: center;
  align-items: center; }

.carrusel {
  flex-wrap: wrap;
  margin-top: 120px; }

.carousel-inner {
  max-width: 100%;
  margin-bottom: 60px;
  padding-left: 80px;
  padding-right: 80px; }

/*!----------PAGINA5OTROSSERVICIOS------------*/
.pagina5 a {
  color: white;
  background-color: #255b99c8;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px; }

.pagina5 h2 {
  font-size: 35px;
  font-style: italic;
  font-weight: 1;
  margin-top: 50px;
  margin-right: 95px;
  margin-bottom: 5px;
  text-align: end;
  color: #255b99c8; }

.pagina5b img {
  width: 25%;
  height: 35vh;
  display: flex;
  align-items: start;
  margin-bottom: 80px;
  margin-left: 25px; }

.pagina5b p {
  font-style: normal;
  font-size: 20px;
  color: black;
  text-align: end;
  padding: 90px; }

.pagina5b {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around; }

.pagina5 {
  margin-top: 105px; }

.boton2e {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; }

/*!------------------PAGINA6NOSOTROS--------*/
hr {
  background-color: #959191b3;
  font-weight: bold;
  height: 2px;
  max-width: 100%;
  border: none; }

.formulario2 {
  max-width: 100%;
  margin-top: 60px;
  margin-bottom: 60px; }

.grid-container2 {
  flex-wrap: wrap;
  margin-bottom: 45px; }
  .grid-container2 div {
    display: inline-block;
    margin-top: 65px; }
    .grid-container2 div img {
      width: 323px;
      height: 362px; }

.contacto h2 {
  color: #D4D4D4;
  margin-top: 65px;
  letter-spacing: 0.15em;
  font-size: 46px; }

.contacto h3 {
  color: #D4D4D4; }

/*!------------------------FOOTER--------------------*/
/*!----extend-----------*/
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center; }

/*!------------------------FOOTER--------------------*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  max-width: 100%; }

.grid-item img {
  width: 20px; }

footer div a img {
  transition: 1s; }

footer div a img:hover {
  transform: scale(1.2); }

/*!-----------MEDIAQUERIES INDEX--------*/
@media screen and (max-width: 1400px) {
  .tarjetas {
    display: flex;
    justify-content: center;
    align-items: center; }
  .titulo1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%; }
  .main-container h1 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .otrosservicios1 p {
    max-width: 80%; } }

@media screen and (max-width: 1072px) {
  .pagofacil1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 10px;
    padding-right: 10px; }
  .westernunion1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding-left: 10px;
    padding-right: 10px; }
  .otrosservicios1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 10px;
    padding-right: 10px; }
  .pagofacil h3 {
    text-align: center;
    margin-top: 60px;
    margin-right: 80px; }
  .pagofacil1 p {
    text-align: center; }
  .pagofacil1 img {
    display: grid;
    justify-self: center;
    margin-left: 30px;
    margin-top: 60px; }
  .westernunion h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px; }
  .westernunion1 p {
    text-align: center; }
  .westernunion1 img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px; }
  .otrosservicios h3 {
    margin-top: 40px;
    text-align: center;
    margin-right: 80px; }
  .otrosservicios1 p {
    text-align: center;
    justify-self: center;
    align-self: center; }
  .otrosservicios1 img {
    display: grid;
    justify-self: center;
    margin-top: 60px; }
  .tarjetas {
    margin-left: 10px;
    margin-top: 60px; }
  .titulo1 h1 {
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .botonwhatsapp {
    position: fixed;
    bottom: 100px;
    right: 30px; } }

@media screen and (max-width: 800px) {
  .titulo2 h2 {
    font-size: 31px; }
  .pagofacil h3 {
    font-size: 31px; }
  .pagofacil1 p {
    font-size: 16px; }
  .westernunion1 img {
    width: 35%;
    height: 90px; }
  .westernunion h3 {
    font-size: 29px;
    margin: 0px; }
  .westernunion p {
    font-size: 16px; }
  .westernunion {
    margin-top: 60px; }
  .otrosservicios h3 {
    font-size: 29px;
    margin: 0px; }
  .otrosservicios p {
    font-size: 16px; }
  .otrosservicios1 img {
    width: 30%;
    height: 35vh; }
  .otrosservicios {
    margin-top: 60px; } }

@media screen and (max-width: 500px) {
  .otrosservicios1 img {
    width: 30%;
    height: 25vh; }
  .titulo2 h2 {
    font-size: 31px;
    padding-left: 10px;
    padding-right: 10px; } }

/*!------MEDIAQUERIESENPAGE3ANSES-----*/
@media screen and (max-width: 1400px) {
  .formulario {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px; } }

@media screen and (max-width: 920px) {
  .pagina3 h2 {
    display: flex;
    padding-left: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: -80px; }
  .pagina3b {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .pagina3b p {
    text-align: center;
    margin-bottom: -30px; }
  .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%; }
  .titulo1 h1 {
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 709px) {
  .elementoanses h3 {
    font-size: 16px; }
  .elementoanses h4 {
    font-size: 13px; } }

@media screen and (max-width: 500px) {
  .elementoanses h3 {
    font-size: 13px; }
  .elementoanses h4 {
    font-size: 11px; }
  .pagina3 p {
    font-size: 16px; }
  .pagina3 h2 {
    font-size: 31px; }
  .pagina3 {
    margin-bottom: 30px; } }

@media screen and (max-width: 360px) {
  .elementoanses h3 {
    font-size: 10px; }
  .elementoanses h4 {
    font-size: 8px; } }

/*!---------------MEDIAQUERIES PAGINA2PAGOFACIL--------*/
@media screen and (max-width: 920px) {
  .pagina2b {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .pagina2c {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .pagina2 h2 {
    text-align: center;
    margin-left: 90px;
    margin-bottom: 0px; }
  .pagina2b p {
    text-align: center;
    padding: 30px; }
  .pagina2c p {
    text-align: center;
    padding: 30px; }
  .pagina2c img {
    width: 35%;
    height: 25vh;
    margin-top: 40px; } }

@media screen and (max-width: 700px) {
  .pagina2 h2 {
    font-size: 31px; }
  .pagina2b p {
    font-size: 16px; }
  .pagina2c p {
    font-size: 16px; }
  .pagina2c img {
    width: 45%;
    height: 15vh;
    margin-top: 40px; } }

@media screen and (max-width: 500px) {
  .pagina2b img {
    width: 35%;
    height: 25vh;
    margin-top: 20px; }
  .pagina2 h2 {
    font-size: 29px; } }

@media screen and (max-width: 477px) {
  .pagina2 h2 {
    font-size: 26px; }
  .boton2 a {
    width: 50%;
    height: 5vh;
    text-align: center;
    margin-left: 25px;
    font-size: 11px; }
  .boton2b a {
    width: 35%;
    height: 5vh;
    text-align: center;
    margin-left: 25px;
    font-size: 11px; } }

@media screen and (max-width: 452px) {
  .pagina2 h2 {
    font-size: 23px; } }

@media screen and (max-width: 427px) {
  .pagina2 h2 {
    font-size: 20px; } }

@media screen and (max-width: 414px) {
  .pagina2 h2 {
    font-size: 16px; }
  .pagina2b p {
    font-size: 13px; }
  .pagina2c p {
    font-size: 13px; }
  .pagina2b img {
    width: 30%;
    height: 20vh;
    margin-top: 10px; }
  .pagina2c img {
    width: 35%;
    height: 10vh;
    margin-top: 40px; } }

@media screen and (max-width: 407px) {
  .boton2 a {
    width: 40%;
    height: 5vh;
    text-align: center;
    margin-left: 25px;
    font-size: 8px; }
  .boton2b a {
    width: 30%;
    height: 5vh;
    text-align: center;
    margin-left: 25px;
    font-size: 8px; }
  .pagina2b p {
    margin-bottom: 0px; }
  .pagina2b img {
    margin-bottom: 40px; }
  .pagina2c img {
    margin-bottom: 40px; } }

/*!---------------MEDIAQUERIES PAGINA4PLATAFORMA10--------*/
@media screen and (max-width: 920px) {
  .pagina4b {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .pagina4 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; }
  .pagina4b p {
    text-align: center; }
  .boton2d {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px; }
  .carrusel {
    margin-bottom: 10px; } }

@media screen and (max-width: 790px) {
  .pagina4b img {
    width: 25%;
    height: 30vh; } }

@media screen and (max-width: 640px) {
  .pagina4b img {
    width: 25%;
    height: 20vh; } }

@media screen and (max-width: 493px) {
  .pagina4b img {
    width: 35%;
    height: 20vh;
    margin-right: 30px; }
  .boton2d a {
    width: 20%;
    height: 5vh;
    text-align: center;
    font-size: 8px;
    margin-right: 25px; }
  .pagina4 h2 {
    font-size: 19px; }
  .pagina4b p {
    font-size: 16px;
    padding: 20px;
    margin-bottom: 40px; } }

/*!---------------MEDIAQUERIES PAGINA5OTROSSERVICIOS--------*/
@media screen and (max-width: 920px) {
  .pagina5b {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .pagina5 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-bottom: 60px; }
  .pagina5b p {
    padding: 0px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 60px; }
  .boton2e {
    margin-bottom: 60px; } }

@media screen and (max-width: 728px) {
  .pagina5b img {
    width: 25%;
    height: 25vh; } }

@media screen and (max-width: 566px) {
  .pagina5 h2 {
    font-size: 26px; } }

@media screen and (max-width: 468px) {
  .pagina5 h2 {
    font-size: 20px; }
  .pagina5b p {
    font-size: 16px; }
  .boton2e a {
    width: 30%;
    height: 5vh;
    font-size: 13px;
    text-align: center; }
  .pagina5b img {
    margin-right: 30px; } }

@media screen and (max-width: 398px) {
  .pagina5 h2 {
    font-size: 18px;
    margin-bottom: 40px; }
  .pagina5b p {
    font-size: 16px; }
  .pagina5b img {
    width: 25%;
    height: 15vh; }
  .boton2e a {
    width: 30%;
    height: 5vh;
    font-size: 10px;
    text-align: center; } }

/*!---------------MEDIAQUERIES PAGINA6NOSOTROS--------*/
@media screen and (max-width: 1130px) {
  .grid-container2 {
    padding-left: 40px;
    padding-right: 40px; } }

@media screen and (max-width: 920px) {
  .formulario2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; } }

@media screen and (max-width: 643px) {
  .horarios h5 {
    padding-left: 40px;
    padding-right: 40px; }
  .grid-container2 div img {
    width: 310px;
    height: 350px; } }
