@import "./base/variables";
@import "./base/generales";
@import "./components/header";
@import "./components/layout";
@import "./components/footer";
@import "./base/mediaquery";


$colores:
black,
#255b99c8,
white,
#a0138df0;

@mixin flex($flex,$justify,$align){
    display: flex;
    justify-content: center;
    align-items: center;
}
