
/*!------------------------FOOTER--------------------*/

/*!----extend-----------*/
%flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}



/*!------------------------FOOTER--------------------*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding:20px;
    max-width: 100%;
}
.grid-item{
    img{
    width: 20px;
    }
}
.grid-item{
    @extend%flexbox;
}


footer div a img{
    transition: 1s;
}

footer div a img:hover{
    transform: scale(1.2);
}
