
/*!----------------------------------------------MAIN-----------------------------*/
%flexbox1{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*!------------------------------INDEX----*/
/*tituloprincipal*/
.titulo1{
    h1{
    background-image: url(../img/bienvenidos.webp);
    background-size: cover;
    width:100%;
    height:280px ;
    color:rgba(255, 255, 255, 0.576);
    font-size: nth($font-size,10);
    text-align: center;
    font-style: italic;
    font-weight: 1;
    padding: 95px
}
}
/*titulosecundario NUESTROS SERVICIOS*/
.titulo2{
    h2{
        color: nth($colores,2);
        text-align: center;
        font-size: nth($font-size,7);
        margin-top: 50px;
    }
}

/*TITULOTERCIARIOpagofacil*/
.pagofacil{
    h3{
    font-size: nth($font-size,7);
    font-style: italic;
    font-weight:1;
    margin-top:90px;
    margin-left: 95px;
    text-align:start;
    color: nth($colores,2);
    }
}
.pagofacil1{
    p{
    font-style: normal;
    font-size: nth($font-size,8);
    margin-top: 120px;
    color: nth($colores,1);
    text-align: center;
    }
}
.pagofacil1{
    img{
    width:20%;
    height:35vh;

    }
}
.pagofacil1{
    @include flex(flex,space-around,wrap);
}

/*TITULOTERCIARIOwesternunion*/
.westernunion{
    h3{
    font-size: nth($font-size,7);
    font-style: italic;
    font-weight:1;
    margin: 55px;
    margin-bottom:15px;
    text-align: start;
    color: nth($colores,2);
    margin-left: 95px;
    }
}
.westernunion1{
    p{
    font-style: normal;
    font-size: nth($font-size,8);
    color: nth($colores,1);
    text-align: center;
    margin-top: 40px;
    }
}
.westernunion1{
    div{
        img{
            width:25%;
            height:90px;
            display: flex;
            align-items: end;
            max-width: 100%
            }
        }
}
.westernunion1{
    @include flex(flex,space-around,wrap);
    max-width: 100%;
}
.westernunion{
    margin-top: 105px;
    max-width: 100%;
}

/*TITULOTERCIARIOotrosservicios*/
.otrosservicios{
    h3{
    font-size: 30px;
    font-style: italic;
    font-weight:1;
    color: nth($colores,2);
    margin-left: 95px;
    }
}

.otrosservicios1{
    p{
    font-style: normal;
    font-size: nth($font-size,8);
    color: nth($colores,1);
    text-align: center;
    margin-top: 40px;
    }
}
.otrosservicios1{
    img{
    width:20%;
    height:35vh;
    }
}
.otrosservicios1{
    @include flex(flex,space-around,wrap);
}
.otrosservicios{
    margin-top: 135px;
    margin-bottom: 60px;
}


/*TARJETAS*/
section div a{
    transition: 1s;
}
section div a:hover{
    background-color: nth($colores,2);
    color: nth($colores,3);
}
.tarjetas div{
    transition: 1s;
}
.tarjetas div:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 31px -8px rgb(10, 10, 11);
    -webkit-box-shadow: 10px 10px 31px -8pxrgb(10, 10, 11);
    -moz-box-shadow: 10px 10px 31px -8px rgb(10, 10, 11);
}

.tarjetas{
    div{
    border: 1px solid;
    width: 250px;
    height: 350px;
    text-align: center;
    background-color: nth($colores,3);
    margin: 85px;
    }
}

.tarjetas{
    div{
        img{
            width: 250px;
            height: 200px;
            }
        }
}

.tarjetas{
    div{
        p{
            margin-top: 20px;
            margin-bottom: 20px;
            }
        }
}

.tarjetas{
    div{
        h3{
            margin-top: 20px;
            margin-bottom: 20px;
            }
        }
}
.tarjetas{
    display:flex;
    flex-wrap: wrap;
}


/*titulosecundario UBICACION Y REDES SOCIALES*/
.nuestrasredes{
    h2{
    color: nth($colores,8);
    text-align: center;
    font-size: nth($font-size,11);
    text-decoration: none;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 30px;
    letter-spacing: 0.15em;
    }
    h3{
        color: nth($colores,8);
        text-align: center;
        }
}
.mapa{
    h4{
    color: nth($colores,10);
    text-align: center;
    margin-top: 60px;
    }
    h5{
    color: nth($colores,10);
    text-align: center;
    margin-bottom: 40px;
    }
}


/*!----------------PAGINA2PAGOFACIL-------*/

/*tituloPAGOFACIL y WESTERNUNION MISMA CLASS*/
.pagina2{
    h2{
    font-size: nth($font-size,7);
    font-style: italic;
    font-weight:1;
    margin-top:90px;
    margin-right: 95px;
    margin-bottom:15px;
    text-align:end;
    color: nth($colores,2);
    }
}

.pagina2b{
    p{
    font-style: normal;
    font-size: nth($font-size,8);
    color: nth($colores,1);
    text-align: end;
    padding: 90px;
    }
}
.pagina2c{
    p{
    font-style: normal;
    font-size: nth($font-size,8);
    color: nth($colores,1);
    text-align: end;
    padding: 90px;
    }
}
.boton2{
    a{
    color: nth($colores,3);
    background-color:nth($colores,2);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    }
}
.boton2 {
    @extend%flexbox1;
} 
.boton2b{
    a{
    color: nth($colores,3);
    background-color:nth($colores,2);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    }
}
.boton2b {
    @extend%flexbox1;
} 
.pagina2b{
    img{
    width:25%;
    height:35vh;
    display: flex;
    align-items: start;
    margin-bottom: 80px;
    margin-left: 25px;
    }
}
.pagina2c{
    img{
    width:25%;
    height:35vh;
    display: flex;
    align-items: start;
    margin-bottom: 80px;
    margin-left: 25px;
    }
}
.pagina2b{
    @include flex2 (flex,row,center);
}
.pagina2c{
    @include flex2 (flex,row,center);
}
.pagina2{
    margin-top: 105px;
    padding-left: 30px;
    padding-right: 30px;
}
.banner1{
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
}
.bannerimg{
    width: 80%;
}
.bannercontainer{
    @extend%flexbox1;
    margin-top: 60px;
}

/*!----------PAGINA3ANSES------------*/

.pagina3{
    h2{
    font-size: nth($font-size,7);
    font-style: italic;
    font-weight:1;
    margin-top:90px;
    margin-right: 95px;
    margin-bottom:5px;
    text-align:end;
    color: nth($colores,2);
    }
}

.pagina3{
    img{
    width:25%;
    height:25%;
    display: flex;
    align-items: start;
    margin-left: 30px;
    }
}
.pagina3b{
    p{
    font-style: normal;
    font-size: nth($font-size,8);
    color: nth($colores,1);
    text-align: end;
    padding: 90px;
    }
}
.pagina3b{
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-around;
    margin-bottom: 60px;
}
.pagina3{
    margin-top: 105px;
}
.formulario{
    max-width: 80%;
    margin-top: 60px;
    @extend%flexbox1;
}

.containeranses{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.elementoanses{
    border: 2px solid #e3e3e3;
    border-radius: 15px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
    max-width: 25%;
}
.elementoanses h3{
    font-size: nth($font-size,2);
    font-style: italic;
    color: nth($colores,7);
    padding-left: 20px;
    padding-right: 20px;
    @extend%flexbox1;
}
.elementoanses h4{
    font-size: nth($font-size,1);
    color: nth($colores,11);
    padding-left: 20px;
    padding-right: 20px;
    @extend%flexbox1;
}
.tramitesyservicios{

}





/*!----------PAGINA4PLATAFORMA10------------*/
.pagina4{
    a{
    color: nth($colores,3);
    background-color: nth($colores,2);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    }
}
.pagina4{
    h2{
    font-size: nth($font-size,7);
    font-style: italic;
    font-weight:1;
    margin-top:50px;
    margin-right: 95px;
    margin-bottom:5px;
    text-align:end;
    color: nth($colores,2);
    }
}

.pagina4b{
    img{
    width:25%;
    height:35vh;
    display: flex;
    align-items: start;
    margin-bottom: 80px;
    margin-left: 25px;
    }
}
.pagina4b{
    p{
    font-style: normal;
    font-size: nth($font-size,8);
    color: nth($colores,1);
    text-align: end;
    padding: 90px;
    }
}
.pagina4b{
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-around;
}
.pagina4{
    margin-top: 105px;
}

.boton2d{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrusel{
    @extend%flexbox1;
    flex-wrap: wrap;
    margin-top: 120px;

}
.carousel-inner{
    max-width: 100%;
    margin-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
}

/*!----------PAGINA5OTROSSERVICIOS------------*/

.pagina5{
    a{
    color: nth($colores,3);
    background-color:nth($colores,2);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    }
}

.pagina5{
    h2{
    font-size: nth($font-size,7);
    font-style: italic;
    font-weight:1;
    margin-top:50px;
    margin-right: 95px;
    margin-bottom:5px;
    text-align:end;
    color: nth($colores,2);
    }
}

.pagina5b{
    img{
    width:25%;
    height:35vh;
    display: flex;
    align-items: start;
    margin-bottom: 80px;
    margin-left: 25px;
    }
}
.pagina5b{
    p{
    font-style: normal;
    font-size: nth($font-size,8);
    color: nth($colores,1);
    text-align: end;
    padding: 90px;
    }
}
.pagina5b{
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-around;
}
.pagina5{
    margin-top: 105px;
}
.boton2e{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
/*!------------------PAGINA6NOSOTROS--------*/
hr{
    background-color: nth($colores,9);
    font-weight: bold;
    height: 2px;
    max-width: 100%;
    border: none;
}
.formulario2{
    max-width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    @extend%flexbox1;
}
.grid-container2{
    @extend%flexbox1;
    flex-wrap: wrap;
    margin-bottom: 45px;
    div{
        display: inline-block;
        margin-top: 65px;
            img{
                width: 323px;
                height: 362px;
            }
    }
}
.contacto{
    h2{
        color:nth($colores,8);
        margin-top: 65px;
        @extend%flexbox1;
        letter-spacing: 0.15em;
        font-size: 46px;
    }
    h3{
        color:nth($colores,8);
        @extend%flexbox1;
    }
}
