/*!----------------------TIPOGRAFIA------------------*/
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1;1,300&display=swap');


/*!----------------------RESET------------------*/
*{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

/*!-------------------------------------------------HEADER--------------------------------------*/

header{
    position: sticky;
    top: 0;
}
header nav{
    background-color:#a0138df0;
}
.navbar-brand{
    color: white;
    font-style: italic;
    font-size: 18px;
    margin-left: 95px;
}
.navbar-nav a{
    color: white;
    font-style: italic;
}

/*BOTONES*/
.boton{
    text-decoration: none;
    color: white;
    background-color:black;
    font-size: 15px;
    font-style: oblique;
    padding: 9px;
    border-radius: 5px;

}
/*MAPA*/
.mapa{
    iframe{
    width:100%;
    height:70vh;
    }
}


/*iconowhatsapp*/
.botonwhatsapp{
    position: fixed;
    bottom:100px;
    right:50px ;
}
.botonwhatsapp{
    img{
    width: 50px;
    margin-bottom: -60px;
    }
}
