

/*!-----------MEDIAQUERIES INDEX--------*/
@media screen and (max-width:1400px){
    .tarjetas{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo1{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .main-container h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .otrosservicios1 p{
        max-width: 80%;
    }
    }


@media screen and (max-width:1072px){
    .pagofacil1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-left: 10px;
        padding-right: 10px;
    }
    .westernunion1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .otrosservicios1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-left: 10px;
        padding-right: 10px;
    }

    .pagofacil h3{
        text-align: center;
        margin-top: 60px;
        margin-right: 80px;
        
    }

    .pagofacil1 p{
        text-align: center;
    }
    .pagofacil1 img{
        display: grid;
        justify-self: center;
        margin-left: 30px;
        margin-top: 60px;
    }

    .westernunion h3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 80px;
    }
    
    .westernunion1 p{
        text-align: center;
    }
    .westernunion1 img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 60px;
        
    }
    .otrosservicios h3{
        margin-top: 40px;
        text-align: center;
        margin-right: 80px;
        
    }
    .otrosservicios1 p{
        text-align: center;
        justify-self: center;
        align-self: center;
    }
    .otrosservicios1 img{
        display: grid;
        justify-self: center;
        margin-top: 60px;
    }
    .tarjetas{
        margin-left: 10px;
        margin-top: 60px;
    }
    .titulo1 h1{
        font-size: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .botonwhatsapp{
        position: fixed;
        bottom:100px;
        right:30px;
    }   

}


@media screen and (max-width:800px){
    .titulo2 h2{
        font-size: nth($font-size,9);
    }
    .pagofacil h3{
        font-size: nth($font-size,9);
    }

    .pagofacil1 p{
        font-size: nth($font-size,1);
    }
    .westernunion1 img{
        width:35%;
        height:90px; 
    }
    .westernunion h3{
        font-size: nth($font-size,12);
        margin: 0px;
    }

    .westernunion p{
        font-size: nth($font-size,1);
    }
    .westernunion{
        margin-top: 60px;
    }
    .otrosservicios h3{
        font-size: nth($font-size,12);
        margin: 0px;
    }

    .otrosservicios p{
        font-size: nth($font-size,1);
    }
    .otrosservicios1 img{
        width:30%;
        height:35vh;
    }
    .otrosservicios{
        margin-top: 60px;
    }
}
@media screen and (max-width:500px) {
    .otrosservicios1 img{
        width:30%;
        height:25vh;
    }
    .titulo2 h2{
        font-size: nth($font-size,9);
        padding-left: 10px;
        padding-right: 10px;
    }
}

/*!------MEDIAQUERIESENPAGE3ANSES-----*/


@media screen and (max-width:1400px){
    .formulario{
        max-width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

}    

@media screen and (max-width:920px){
    .pagina3 h2{
        display: flex;
        padding-left: 100px;
        justify-content: center;
        align-items: center;
        margin-bottom: -80px;
    }
    .pagina3b {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .pagina3b p{
        text-align: center;
        margin-bottom: -30px;
    }
    .formulario{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50%;
    }
    .titulo1 h1{
        font-size: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
@media screen and (max-width:709px){
    .elementoanses h3{
        font-size: nth($font-size,1);
    }
    .elementoanses h4{
        font-size: nth($font-size,3);
    }
}

@media screen and (max-width:500px){
    .elementoanses h3{
        font-size: nth($font-size,3);
    }
    .elementoanses h4{
        font-size: nth($font-size,4);
    }
    .pagina3 p{
        font-size: nth($font-size,1);
    }
    .pagina3 h2{
        font-size: nth($font-size,9);
    }
    .pagina3{
        margin-bottom: 30px;
    }


}

@media screen and (max-width:360px){
    .elementoanses h3{
        font-size: nth($font-size,5);
    }
    .elementoanses h4{
        font-size: nth($font-size,6);
    }
}

/*!---------------MEDIAQUERIES PAGINA2PAGOFACIL--------*/
@media screen and (max-width:920px){
    .pagina2b{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .pagina2c{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .pagina2 h2{
        text-align: center;
        margin-left: 90px;
        margin-bottom: 0px;
        
    }
    .pagina2b p{
        text-align: center;
        padding: 30px;
    }
    .pagina2c p{
        text-align: center;
        padding: 30px;
    }
    .pagina2c img{
        width:35%;
        height:25vh;
        margin-top: 40px;
    }
}
@media screen and (max-width:700px) {
    .pagina2 h2{
        font-size: nth($font-size,9);
    }
    .pagina2b p{
        font-size: nth($font-size,1);
    }
    .pagina2c p{
        font-size: nth($font-size,1);
    }
    .pagina2c img{
        width:45%;
        height:15vh;
        margin-top: 40px;
    }
}
@media screen and (max-width:500px) {
    .pagina2b img{
        width:35%;
        height:25vh;
        margin-top: 20px;
    }
    .pagina2 h2{
        font-size: nth($font-size,12);
    }
}
@media screen and (max-width:477px){
    .pagina2 h2{
        font-size: nth($font-size,14);
    }
    .boton2 a{
        width:50%;
        height:5vh;
        text-align: center;
        margin-left: 25px;
        font-size: nth($font-size,4);
    }
    .boton2b a{
        width:35%;
        height:5vh;
        text-align: center;
        margin-left: 25px;
        font-size: nth($font-size,4);
    }
}

@media screen and (max-width:452px) {
    .pagina2 h2{
        font-size: nth($font-size,15);
    }
}
@media screen and (max-width:427px){
    .pagina2 h2{
        font-size: nth($font-size,8);
    }
}
@media screen and (max-width:414px){
    .pagina2 h2{
        font-size: nth($font-size,1);
    }
    .pagina2b p{
        font-size: nth($font-size,3);
    }
    .pagina2c p{
        font-size: nth($font-size,3);
    }
    .pagina2b img{
        width:30%;
        height:20vh;
        margin-top: 10px;
    }
    .pagina2c img{
        width:35%;
        height:10vh;
        margin-top: 40px;
    }
}
@media screen and (max-width:407px) {
    .boton2 a{
        width:40%;
        height:5vh;
        text-align: center;
        margin-left: 25px;
        font-size: nth($font-size,6);
    }
    .boton2b a{
        width:30%;
        height:5vh;
        text-align: center;
        margin-left: 25px;
        font-size: nth($font-size,6);
    }
    .pagina2b p{
        margin-bottom: 0px;
    }
    .pagina2b img{
        margin-bottom: 40px;
    }
    .pagina2c img{
        margin-bottom: 40px;
    }
}



/*!---------------MEDIAQUERIES PAGINA4PLATAFORMA10--------*/
@media screen and (max-width:920px){
    .pagina4b{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .pagina4 h2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    .pagina4b p{
        text-align: center;
    }
    .boton2d{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
    .carrusel{
    margin-bottom: 10px;

}
}
@media screen and (max-width:790px) {
    .pagina4b img{
        width:25%;
        height:30vh;
    }
}
@media screen and (max-width:640px) {
    .pagina4b img{
        width:25%;
        height:20vh;
    }
}
@media screen and (max-width:493px){
    .pagina4b img{
        width:35%;
        height:20vh;
        margin-right: 30px;
    }
    .boton2d a{
        width:20%;
        height:5vh;
        text-align: center;
        font-size: nth($font-size,6);
        margin-right: 25px;
    }
    .pagina4 h2{
        font-size: nth($font-size,2);
    }
    .pagina4b p{
        font-size: nth($font-size,1);
        padding: 20px;
        margin-bottom: 40px;
    }
}


/*!---------------MEDIAQUERIES PAGINA5OTROSSERVICIOS--------*/
@media screen and (max-width:920px){
    .pagina5b{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .pagina5 h2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 80px;
        margin-bottom: 60px;
    }
    .pagina5b p{
        padding: 0px;
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 60px;
    }
    .boton2e{
        margin-bottom: 60px;
    }
}
@media screen and (max-width:728px){
    .pagina5b img{
        width:25%;
        height:25vh;
    }
}
@media screen and (max-width:566px){
    .pagina5 h2{
        font-size: nth($font-size,14);
    }
}
@media screen and (max-width:468px){
    .pagina5 h2{
        font-size: nth($font-size,8);
    }
    .pagina5b p{
        font-size: nth($font-size,1);
    }
    .boton2e a{
        width:30%;
        height:5vh;
        font-size: nth($font-size,3);
        text-align: center;
    }
    .pagina5b img{
        margin-right: 30px;
    }
}
@media screen and (max-width:398px) {
    .pagina5 h2{
        font-size: nth($font-size,16);
        margin-bottom: 40px;
    }
    .pagina5b p{
        font-size: nth($font-size,1);
    }
    .pagina5b img{
        width:25%;
        height:15vh;
    }
    .boton2e a{
        width:30%;
        height:5vh;
        font-size: nth($font-size,5);
        text-align: center;
    }
}
/*!---------------MEDIAQUERIES PAGINA6NOSOTROS--------*/
@media screen and (max-width:1130px) {
    .grid-container2{
        padding-left: 40px;
        padding-right: 40px;
    }

}
@media screen and (max-width:920px) {
    .formulario2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:643px){
    .horarios h5{
        padding-left: 40px;
        padding-right: 40px;
    }
    .grid-container2 div img{
        width: 310px;
        height: 350px;
    }
}
