
/*!-----------MEDIAQUERIES INDEX--------*/
@media screen and (max-width:1400px){
    .westernunion1 img{
        margin-left: -70px;
    }
    .tarjetas{
        @extend%flexbox;
    }
    .titulo1{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .main-container h1{
        @extend%flexbox;
    }
    .otrosservicios1 p{
        max-width: 80%;
    }
    }


@media screen and (max-width:922px){
    .pagofacil1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .westernunion1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .otrosservicios1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .pagofacil h3{
        margin-bottom: -40px;
        margin-top: 80px;
        text-align: center;
        margin-left: -30px;
    }
    .pagofacil1 p{
        text-align: start;
    }
    .pagofacil1 img{
        justify-self: center;
        align-self: center;
        margin-top: -60px;
    }
    .westernunion h3{
        @extend%flexbox;
    }
    
    .westernunion1 p{
        text-align: center;
    }
    .westernunion1 img{
        @extend%flexbox;
        margin-top: 20px;
    }
    .otrosservicios h3{
        margin-bottom: -40px;
        margin-top: 90px;
        text-align: center;
        margin-left: -30px;
    }
    .otrosservicios1 img{
        justify-self: center;
        align-self: center;
        margin-top: -60px;
    }
    .otrosservicios{
        max-width: 100%;
    }
    .tarjetas{
        margin-left: 10px;
    }
    .titulo1 h1{
        font-size: 45px;
        @extend%flexbox;
    }
}


/*!------MEDIAQUERIESENPAGE3ANSES-----*/


@media screen and (max-width:1400px){
    .formulario{
        max-width: 100%;
        @extend%flexbox;
        padding: 30px;
    }

}    

@media screen and (max-width:920px){
    .pagina3 h2{
        @extend%flexbox;
        margin-bottom: -80px;
    }
    .pagina3b {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        @extend%flexbox;
        flex-direction: column;
        
    }
    .pagina3b p{
        text-align: center;
        margin-bottom: -30px;
    }
    .formulario{
        @extend%flexbox;
    }
    .titulo1 h1{
        font-size: 45px;
        @extend%flexbox;
    }

}

/*!---------------MEDIAQUERIES PAGINA2PAGOFACIL--------*/
@media screen and (max-width:920px){
    .pagina2b{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        @extend%flexbox;
        flex-direction: column;
        
    }
    .pagina2 h2{
        @extend%flexbox;
    }
}

/*!---------------MEDIAQUERIES PAGINA4PLATAFORMA10--------*/
@media screen and (max-width:920px){
    .pagina4b{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        @extend%flexbox;
        flex-direction: column;
        
    }
    .pagina4 h2{
        @extend%flexbox;
    }
    .pagina4b p{
        margin-right: 15%;
    }
    .pagina4b img{
        margin-right: 15%;
    }
}

/*!---------------MEDIAQUERIES PAGINA5OTROSSERVICIOS--------*/
@media screen and (max-width:920px) {
    .pagina5b{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        @extend%flexbox;
        flex-direction: column;
    }
    .pagina5 h2{
        @extend%flexbox;
    }
}

/*!---------------MEDIAQUERIES PAGINA6NOSOTROS--------*/
@media screen and (max-width:920px) {
    .formulario2{
        @extend%flexbox;
        flex-wrap: wrap;
    }
}